CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_zn_m2=y

CONFIG_IPQ_MEM_PROFILE_1024=y
CONFIG_KERNEL_IPQ_MEM_PROFILE=1024
CONFIG_NSS_FIRMWARE_VERSION_12_5=y
CONFIG_NSS_MEM_PROFILE_HIGH=y

CONFIG_NSS_DRV_BRIDGE_ENABLE=y
# CONFIG_NSS_DRV_CAPWAP_ENABLE is not set
CONFIG_NSS_DRV_C2C_ENABLE=y
# CONFIG_NSS_DRV_CLMAP_ENABLE is not set
CONFIG_NSS_DRV_CRYPTO_ENABLE=y
CONFIG_NSS_DRV_DMA_ENABLE=y
# CONFIG_NSS_DRV_DTLS_ENABLE is not set
CONFIG_NSS_DRV_EDMA_ENABLE=y
CONFIG_NSS_DRV_GRE_ENABLE=y
# CONFIG_NSS_DRV_GRE_REDIR_ENABLE is not set
# CONFIG_NSS_DRV_GRE_TUNNEL_ENABLE is not set
CONFIG_NSS_DRV_IGS_ENABLE=y
CONFIG_NSS_DRV_IPSEC_ENABLE=y
# CONFIG_NSS_DRV_IPV4_REASM_ENABLE is not set
CONFIG_NSS_DRV_IPV6_ENABLE=y
# CONFIG_NSS_DRV_IPV6_REASM_ENABLE is not set
CONFIG_NSS_DRV_L2TP_ENABLE=y
CONFIG_NSS_DRV_LAG_ENABLE=y
CONFIG_NSS_DRV_MAPT_ENABLE=y
CONFIG_NSS_DRV_MATCH_ENABLE=y
CONFIG_NSS_DRV_MIRROR_ENABLE=y
# CONFIG_NSS_DRV_OAM_ENABLE is not set
# CONFIG_NSS_DRV_PORTID_ENABLE is not set
CONFIG_NSS_DRV_LSO_RX_ENABLE=y
CONFIG_NSS_DRV_PPPOE_ENABLE=y
CONFIG_NSS_DRV_PPTP_ENABLE=y
CONFIG_NSS_DRV_PVXLAN_ENABLE=y
# CONFIG_NSS_DRV_QRFS_ENABLE is not set
# CONFIG_NSS_DRV_QVPN_ENABLE is not set
# CONFIG_NSS_DRV_RMNET_ENABLE is not set
CONFIG_NSS_DRV_SHAPER_ENABLE=y
# CONFIG_NSS_DRV_SJACK_ENABLE is not set
CONFIG_NSS_DRV_TLS_ENABLE=y
# CONFIG_NSS_DRV_TRUSTSEC_ENABLE is not set
CONFIG_NSS_DRV_UDP_ST_ENABLE=y
# CONFIG_NSS_DRV_TSTAMP_ENABLE is not set
CONFIG_NSS_DRV_TUN6RD_ENABLE=y
CONFIG_NSS_DRV_TUNIPIP6_ENABLE=y
CONFIG_NSS_DRV_VIRT_IF_ENABLE=y
CONFIG_NSS_DRV_VLAN_ENABLE=y
CONFIG_NSS_DRV_VXLAN_ENABLE=y
# CONFIG_NSS_DRV_WIFIOFFLOAD_ENABLE is not set
# CONFIG_NSS_DRV_WIFI_EXT_VDEV_ENABLE is not set
# CONFIG_NSS_DRV_WIFI_MESH_ENABLE is not set
# CONFIG_NSS_DRV_WIFI_LEGACY_ENABLE is not set

CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_kmod-qca-nss-dp=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-eogremgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-gre=y
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-map-t=y
CONFIG_PACKAGE_kmod-qca-nss-drv-match=y
CONFIG_PACKAGE_kmod-qca-nss-drv-mirror=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vxlanmgr=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr is not set
CONFIG_PACKAGE_kmod-qca-nss-ecm=y
CONFIG_PACKAGE_kmod-qca-nss-macsec=y
CONFIG_PACKAGE_kmod-qca-ssdk=y

CONFIG_BINUTILS_USE_VERSION_2_43=y
CONFIG_GCC_USE_VERSION_14=y
CONFIG_GCC_VERSION_14=y

CONFIG_BUILD_PATENTED=y
CONFIG_CCACHE=y
CONFIG_DEVEL=y
CONFIG_GCC_USE_GRAPHITE=y
CONFIG_IMAGEOPT=y
CONFIG_IPV6=y
CONFIG_KERNEL_IO_URING=y
CONFIG_KERNEL_IPV6=y
CONFIG_KERNEL_IP_MROUTE=y
CONFIG_KERNEL_MPTCP=y
CONFIG_KERNEL_MPTCP_IPV6=y
CONFIG_KERNEL_NET_L3_MASTER_DEV=y
CONFIG_KERNEL_PAGE_POOL=y
CONFIG_KERNEL_SKB_RECYCLER=y
CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU=y
CONFIG_KERNEL_XDP_SOCKETS=y
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_RELR=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53"
CONFIG_TARGET_OPTIONS=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_USE_LTO=y
CONFIG_ZLIB_OPTIMIZE_SPEED=y
CONFIG_ZSTD_OPTIMIZE_O3=y

CONFIG_PACKAGE_default-settings-chn=y

CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y

CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-base64=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
CONFIG_PACKAGE_iptables-mod-iprange=y
CONFIG_PACKAGE_iptables-mod-socket=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_libopenssl-legacy=y
CONFIG_PACKAGE_libpcre2=y
CONFIG_PACKAGE_libsodium=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libudns=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_nat6=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_wget-ssl=y

CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-omcproxy=y
CONFIG_PACKAGE_luci-app-upnp=y

# CONFIG_PACKAGE_automount is not set
# CONFIG_PACKAGE_block-mount is not set
# CONFIG_PACKAGE_coremark is not set
# CONFIG_PACKAGE_ddns-scripts is not set
# CONFIG_PACKAGE_ddns-scripts_aliyun is not set
# CONFIG_PACKAGE_ddns-scripts_dnspod is not set
# CONFIG_PACKAGE_e2fsprogs is not set
# CONFIG_PACKAGE_etherwake is not set
# CONFIG_PACKAGE_f2fsck is not set
# CONFIG_PACKAGE_kmod-fs-ext4 is not set
# CONFIG_PACKAGE_kmod-fs-f2fs is not set
# CONFIG_PACKAGE_kmod-nls-base is not set
# CONFIG_PACKAGE_libf2fs6 is not set
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-autoreboot is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
# CONFIG_PACKAGE_mkf2fs is not set
# CONFIG_PACKAGE_sqm-scripts-nss is not set

# CONFIG_KERNEL_BTRFS_FS is not set
# CONFIG_KERNEL_COREDUMP is not set
# CONFIG_KERNEL_ELF_CORE is not set
# CONFIG_KERNEL_KALLSYMS is not set
# CONFIG_SIGNATURE_CHECK is not set
# CONFIG_SIGNED_PACKAGES is not set
# CONFIG_USE_APK is not set

# CONFIG_FEED_nss is not set
# CONFIG_FEED_nss_packages is not set
# CONFIG_FEED_sqm_scripts_nss is not set

# CONFIG_PACKAGE_kmod-phy-aquantia is not set
# CONFIG_PACKAGE_kmod-phy-marvell is not set
# CONFIG_PACKAGE_kmod-phy-qca83xx is not set

# CONFIG_ATH11K_NSS_MESH_SUPPORT is not set
# CONFIG_ATH11K_NSS_SUPPORT is not set
# CONFIG_DRIVER_11AC_SUPPORT is not set
# CONFIG_DRIVER_11AC_SUPPORT is not set
# CONFIG_DRIVER_11AX_SUPPORT is not set
# CONFIG_DRIVER_11BE_SUPPORT is not set
# CONFIG_DRIVER_11N_SUPPORT is not set
# CONFIG_NSS_DRV_WIFI_ENABLE is not set
# CONFIG_NSS_DRV_WIFIOFFLOAD_ENABLE is not set
# CONFIG_NSS_DRV_WIFI_EXT_VDEV_ENABLE is not set
# CONFIG_NSS_DRV_WIFI_LEGACY_ENABLE is not set
# CONFIG_NSS_DRV_WIFI_MESH_ENABLE is not set
# CONFIG_PACKAGE_MAC80211_NSS_SUPPORT is not set
# CONFIG_PACKAGE_ath11k-firmware-ipq6018 is not set
# CONFIG_PACKAGE_ath11k-firmware-qcn9074 is not set
# CONFIG_PACKAGE_hostapd-common is not set
# CONFIG_PACKAGE_ipq-wifi-cmiot_ax18 is not set
# CONFIG_PACKAGE_ipq-wifi-zn_m2 is not set
# CONFIG_PACKAGE_iw is not set
# CONFIG_PACKAGE_iwinfo is not set
# CONFIG_PACKAGE_kmod-ath is not set
# CONFIG_PACKAGE_kmod-ath11k is not set
# CONFIG_PACKAGE_kmod-ath11k-ahb is not set
# CONFIG_PACKAGE_kmod-ath11k-pci is not set
# CONFIG_PACKAGE_kmod-cfg80211 is not set
# CONFIG_PACKAGE_kmod-mac80211 is not set
# CONFIG_PACKAGE_kmod-mac80211-hwsim is not set
# CONFIG_PACKAGE_wifi-scripts is not set
# CONFIG_PACKAGE_wireless-regdb is not set
# CONFIG_PACKAGE_wireless-tools is not set
# CONFIG_PACKAGE_wpad-openssl is not set
# CONFIG_WIFI_SCRIPTS_UCODE is not set

# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-dwc2 is not set
# CONFIG_PACKAGE_kmod-usb-dwc2-pci is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom is not set
# CONFIG_PACKAGE_kmod-usb-ehci is not set
# CONFIG_PACKAGE_kmod-usb-net is not set
# CONFIG_PACKAGE_kmod-usb-ohci is not set
# CONFIG_PACKAGE_kmod-usb-ohci-pci is not set
# CONFIG_PACKAGE_kmod-usb-phy-msm is not set
# CONFIG_PACKAGE_kmod-usb-phy-nop is not set
# CONFIG_PACKAGE_kmod-usb-roles is not set
# CONFIG_PACKAGE_kmod-usb-serial is not set
# CONFIG_PACKAGE_kmod-usb-serial-qualcomm is not set
# CONFIG_PACKAGE_kmod-usb-serial-wwan is not set
# CONFIG_PACKAGE_kmod-usb-storage is not set
# CONFIG_PACKAGE_kmod-usb-storage-extras is not set
# CONFIG_PACKAGE_kmod-usb-storage-uas is not set
# CONFIG_PACKAGE_kmod-usb-uhci is not set
# CONFIG_PACKAGE_kmod-usb-xhci-hcd is not set
# CONFIG_PACKAGE_kmod-usb2 is not set
# CONFIG_PACKAGE_kmod-usb2-pci is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_USB_SUPPORT is not set

# CONFIG_PACKAGE_luci-app-ssr-plus is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NONE_V2RAY is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ChinaDNS_NG is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_MosDNS is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Hysteria is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Tuic-Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadow_TLS is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadow-TLS is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_IPT2Socks is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2 is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_V2ray_Plugin is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Xray_Plugin is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan is not set
