<fieldset class="cbi-section">
	<legend><%:Running Status%></legend>
	<div class="cbi-section-descr">
		<div id="athena_status_text">
			<em><%:Collecting data...%></em>
		</div>
	</div>
</fieldset>

<script type="text/javascript">//<![CDATA[
	var statusText = document.getElementById('athena_status_text');

	// 使用 LuCI 内置的 XHR.poll 每 3 秒轮询一次状态
	XHR.poll(3, '<%=luci.dispatcher.build_url("admin", "services", "athena_led", "status")%>', null,
		function(x, info) {
			if (x && x.status == 200 && info) {
				// info.running 对应 controller 中返回的 JSON e.running
				if (info.running) {
					statusText.innerHTML = '<span style="color:green; font-weight:bold;"><%:RUNNING%></span> | PID: ' + (info.pid || '?');
				} else {
					statusText.innerHTML = '<span style="color:red; font-weight:bold;"><%:NOT RUNNING%></span>';
				}
			} else {
				statusText.innerHTML = '<span style="color:gray;"><em><%:Unknown Error%></em></span>';
			}
		}
	);
//]]></script>