#
# Copyright (c) 2019-2020 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/P3TERX/Actions-OpenWrt
# Description: Build OpenWrt using GitHub Actions
#

name: Build-Firmware-IPQ60xx-VIKINGYFY

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ax18_or_m2:
        description: 'ax18_or_m2? (ax18/m2)'
        required: true
        default: 'ax18'
      only_config:
        description: "only_config?"
        required: false
        default: false
        type: boolean

env:
  REPO_URL: https://github.com/VIKINGYFY/immortalwrt
  REPO_BRANCH: main
  FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: config-IPQ60xx.cfg
  DIY_P1_SH: diy-part1-IPQ60xx.sh
  DIY_P2_SH: diy-part2-IPQ60xx.sh
  UPLOAD_BIN_DIR: true
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:

    - name: Checkout
      uses: actions/checkout@main

    - name: Show system & Setup
      run: |
        echo -e "Total CPU cores\t: $(nproc)"
        cat /proc/cpuinfo
        cat /proc/meminfo
        sudo timedatectl set-timezone "$TZ"
        sudo mkdir -p /workdir
        sudo chown $USER:$GROUPS /workdir

    - name: ax18_or_m2
      if: contains('ax18.AX18', github.event.inputs.ax18_or_m2)
      run: |
        sed -i "s/CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_zn_m2=y/CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_cmiot_ax18=y/g" config-IPQ60xx.cfg

    - name: Clone source code
      working-directory: /workdir
      run: |
        df -hT $PWD
        git clone $REPO_URL -b $REPO_BRANCH openwrt
        ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt

    - name: Free Disk Space
      if: ${{ github.event.inputs.only_config != 'true' }}
      uses: endersonmenezes/free-disk-space@main
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        rm_cmd: "rm"  # Use 'rmz' for faster deletion (default: 'rm')
        rmz_version: "3.1.1"  # Required when rm_cmd is 'rmz'
        testing: false
        
    - name: Initialization environment
      if: ${{ github.event.inputs.only_config != 'true' }}
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-mark hold grub-efi-amd64-signed firefox snapd mysql* || true
        sudo apt-get autoremove -y --purge
        sudo apt-get clean
        sudo -E apt-get -y update
        sudo -E apt-get -y full-upgrade
        sudo -E apt-get -y install bison build-essential ca-certificates ccache curl file flex g++ gawk gettext git libelf-dev libncurses-dev libssl-dev python3 python3-setuptools rsync swig unzip wget xsltproc zlib1g-dev
        sudo apt-get autoremove -y --purge
        sudo apt-get clean
        sudo -E systemctl daemon-reload || true

    # - name: Initialization environment - immortalwrt
      # if: ${{ github.event.inputs.only_config != 'true' }}
      # env:
        # DEBIAN_FRONTEND: noninteractive
      # run: |
        # curl -s https://raw.githubusercontent.com/immortalwrt/build-scripts/master/init_build_environment.sh | sudo bash

    - name: Cache
      if: ${{ github.event.inputs.only_config != 'true' }}
      uses: HiGarfield/cachewrtbuild@main
      with:
        ccache: 'true'
        mixkey: 'IPQ60xx-VIKINGYFY'
        prefix: ${{ github.workspace }}/openwrt

    - name: Load custom feeds
      run: |
        [ -e $FEEDS_CONF ] && mv $FEEDS_CONF openwrt/feeds.conf.default
        chmod +x $DIY_P1_SH
        cd openwrt
        $GITHUB_WORKSPACE/$DIY_P1_SH

    - name: Update feeds
      run: cd openwrt && ./scripts/feeds update -a

    - name: Install feeds
      run: cd openwrt && ./scripts/feeds install -a

    - name: Load custom configuration
      run: |
        [ -e files ] && mv files openwrt/files
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
        chmod +x $DIY_P2_SH
        cd openwrt
        $GITHUB_WORKSPACE/$DIY_P2_SH
        make defconfig
        sudo cp .config /FULL_CONFIG_IPQ60xx-VIKINGYFY.cfg

    - name: Upload CONFIG
      uses: actions/upload-artifact@main
      with:
        name: FULL_CONFIG_IPQ60xx-VIKINGYFY
        path: /FULL_CONFIG_IPQ60xx-VIKINGYFY.cfg
        compression-level: 9
      continue-on-error: true

    - name: Download package
      if: ${{ github.event.inputs.only_config != 'true' }}
      id: package
      run: |
        cd openwrt
        make download -j$(nproc)

    - name: Compile the firmware
      if: ${{ github.event.inputs.only_config != 'true' }}
      id: compile
      run: |
        cd openwrt
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 || make -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT
        grep '^CONFIG_TARGET.*DEVICE.*=y' .config | sed -r 's/.*DEVICE_(.*)=y/\1/' > DEVICE_NAME
        [ -s DEVICE_NAME ] && echo "DEVICE_NAME=$(cat DEVICE_NAME)" >> $GITHUB_ENV
        echo "FILE_DATE=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: Check space usage
      run: |
        df -hT

    - name: Copy full config
      if: ${{ github.event.inputs.only_config != 'true' }}
      run: |
        cp /FULL_CONFIG_IPQ60xx-VIKINGYFY.cfg openwrt/bin/targets/*/*/

    - name: Upload bin directory
      uses: actions/upload-artifact@main
      if: steps.compile.outputs.status == 'success' && env.UPLOAD_BIN_DIR == 'true' && github.event.inputs.only_config != 'true'
      with:
        name: OpenWrt_bin_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}-VIKINGYFY
        path: openwrt/bin
        compression-level: 9
      continue-on-error: true

    - name: Organize files
      id: organize
      if: env.UPLOAD_FIRMWARE == 'true' && !cancelled() && github.event.inputs.only_config != 'true'
      run: |
        cd openwrt/bin/targets/*/*
        rm -rf packages *initramfs-uImage.itb
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Upload firmware directory
      uses: actions/upload-artifact@main
      if: steps.organize.outputs.status == 'success' && !cancelled() && github.event.inputs.only_config != 'true'
      with:
        name: OpenWrt_firmware_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}-VIKINGYFY
        path: ${{ env.FIRMWARE }}
        compression-level: 9
      continue-on-error: true

    - name: zip pkg
      if: env.UPLOAD_RELEASE == 'true' && !cancelled() && github.event.inputs.only_config != 'true'
      run: |
        cd "${FIRMWARE}"
        zip -r -9 "OpenWrt_firmware_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}-VIKINGYFY.zip" . -x "*.zip"

    - name: Generate release tag
      id: tag
      if: env.UPLOAD_RELEASE == 'true' && !cancelled() && github.event.inputs.only_config != 'true'
      run: |
        echo "release_tag=$(date +"%Y.%m.%d-%H.%M")_${{ env.DEVICE_NAME }}-VIKINGYFY" >> $GITHUB_OUTPUT
        touch release.txt
        echo "${{ env.DEVICE_NAME }}-VIKINGYFY firmware" >> release.txt
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Upload firmware to release
      uses: softprops/action-gh-release@master
      if: steps.tag.outputs.status == 'success' && !cancelled() && github.event.inputs.only_config != 'true'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*
      continue-on-error: true
