name: Repo-Sync upstream for backup

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@main

      - name: Setup Git
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'

      - name: Sync omcproxy
        run: |
          git remote add omcproxy https://github.com/philwo/omcproxy.git
          git fetch omcproxy main:omcproxy
          git checkout omcproxy
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin omcproxy --force
        continue-on-error: true

      - name: Sync helloworld_sbwml
        run: |
          git remote add helloworld_sbwml https://github.com/sbwml/openwrt_helloworld.git
          git fetch helloworld_sbwml v5:helloworld_sbwml
          git checkout helloworld_sbwml
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin HEAD:refs/heads/helloworld_sbwml --force
        continue-on-error: true

      - name: Sync shadowsocks-rust
        run: |
          git remote add shadowsocks-rust https://github.com/shadowsocks/shadowsocks-rust.git
          git fetch shadowsocks-rust master:shadowsocks-rust
          git checkout shadowsocks-rust
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin shadowsocks-rust --force
        continue-on-error: true

      - name: Sync Cloak
        run: |
          git remote add Cloak https://github.com/cbeuw/Cloak.git
          git fetch Cloak master:Cloak
          git checkout Cloak
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin Cloak --force
        continue-on-error: true

      - name: Sync Xray-core
        run: |
          git remote add Xray-core https://github.com/XTLS/Xray-core.git
          git fetch Xray-core main:Xray-core
          git checkout Xray-core
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin Xray-core --force
        continue-on-error: true

      - name: Sync SmartDNS
        run: |
          git remote add SmartDNS https://github.com/pymumu/smartdns.git
          git fetch SmartDNS master:SmartDNS
          git checkout SmartDNS
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin SmartDNS --force
        continue-on-error: true

      - name: Sync passwall-luci
        run: |
          git remote add passwall-luci https://github.com/Openwrt-Passwall/openwrt-passwall.git
          git fetch passwall-luci main:passwall-luci
          git checkout passwall-luci
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin passwall-luci --force
        continue-on-error: true

      - name: Sync passwall-packages
        run: |
          git remote add passwall-packages https://github.com/Openwrt-Passwall/openwrt-passwall-packages.git
          git fetch passwall-packages main:passwall-packages
          git checkout passwall-packages
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin passwall-packages --force
        continue-on-error: true

      - name: Sync chinadns-ng
        run: |
          git remote add chinadns-ng https://github.com/zfl9/chinadns-ng.git
          git fetch chinadns-ng master:chinadns-ng
          git checkout chinadns-ng
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin chinadns-ng --force
        continue-on-error: true

      - name: Sync ImmortalWrt-Qualcomm
        run: |
          git remote add ImmortalWrt-Qualcomm https://github.com/VIKINGYFY/immortalwrt.git
          git fetch ImmortalWrt-Qualcomm main:ImmortalWrt-Qualcomm
          git checkout ImmortalWrt-Qualcomm
          git submodule update --init --recursive
          if [ -d ".github" ]; then
            git rm -rf .github
            git commit -m "Remove .github directory"
          fi
          git push origin ImmortalWrt-Qualcomm --force
        continue-on-error: true
